.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $d-green;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
}

// LEFT-SIDE
.site-footer__left-side {
  max-width: 165px;
}

.site-footer__logo-link {
  display: inline-block;
  margin-bottom: 25px;
}

.site-footer__logo-img {
  transition: opacity 0.2s ease,
  transform 0.2s ease;
  
  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
  
  &:active {
    opacity: 0.4;
  }
}

.site-footer__footer-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 160px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: -20px;
  margin-right: -20px;
}

.footer-nav__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-nav__item-link {
  text-decoration: none;
  color: $white;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.2s ease,
  opacity 0.2s ease;
  
  &:hover {
    color: $l-coral;
  }
  
  &:active {
    opacity: 0.4;
  } 
}

// MIDDLE-SIDE
.site-footer__middle-side {
  margin-left: 120px;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.6);
}

.site-footer__adress {
  font-style: normal;
}

.site-footer__tel-wrapper {
  margin: 0;
}

.site-footer__tel-num{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s ease,
  opacity 0.2s ease;
  
  &:hover {
    color: $l-coral;
  }
  
  &:active {
    opacity: 0.4;
  }
}

// RIGHT-SIDE
.site-footer__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-info__item ~ .footer-info__item {
  margin-left: 16px;
}

.footer-info__list {
  @include reset-list;
}

.footer-info__item-svg {
  width: 24px;
  height: 24px;
  color: $white;
  transition: color 0.5s ease,
  transform 0.5s ease;
  
  &:hover {
    color: $l-coral;
    transform: scale(1.5) rotate(-360deg);
  }
  
  &:active {
    opacity: 0.4;
  }
}


.site-footer__rights {
  display: block;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}