.quote {
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: $dj-green;
  background-image: url(../../img/bg-pattern-home-4-about-3.svg), 
  url(../../img/bg-pattern-home-5.svg);
  background-repeat: no-repeat;
  background-size: 147px, 200px;
  background-position: left calc(50% - 630px) top,
  right calc(50% - 600px) bottom;
}

.quote__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote__heading {
  max-width: 950px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
  @include h2-normal;
  color: $white;
}

.quote__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  @include reset-list;
  margin-left: -15px;
  margin-right: -15px;
}

.quote__item {
  position: relative;
  max-width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 94px;
  text-align: center;
  z-index: 1;
}

.quote__item::before {
  position: absolute;
  display: block;
  width: 67px;
  height: 56px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30px);
  background-image: url("../../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: -1;
  content: "";
}

.quote__item::after {
  position: absolute;
  display: block;
  width: 62px;
  height: 62px;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid $r-blue;
  z-index: -1;
  content: "";
}

.quote__item-img-1::after {
  background-image: url("../../img/avatar-kady.jpg");
}

.quote__item-img-2::after {
  background-image: url("../../img/avatar-aiysha.jpg");
}

.quote__item-img-3::after {
  background-image: url("../../img/avatar-arthur.jpg");
}

.quote__blockquote {
  margin: 0;
  color: $white;
}

.quote__author-name {
  @include h3-normal;
  color: $r-blue;
}

.quote__author-occupation {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: $white;
}